body section {
    text-align: justify;
    float: center;
    margin-right: 350px;
    vertical-align: top;
    margin-top: auto;
    text-align: justify;
    font-size: 30px;

}

.ima {
    width: 300px;
    float: right;
    position: relative;
}

aside {
    text-align: center;
    float: right;
    width: 50px;
    font-size: 1.25em;
}

aside .img {
    width: 300px;
    float: left;
    margin-left: 100px;
}

.img1 {
    width: 250px;
    float: left;
    position: relative;
}

aside p {
    float: right;
    width: 20px;
}

.img12 {
    display: block;
    margin: auto;
}